<StackLayout [class.bg-success]="msgDetails.isSuccess()"
             [class.bg-info]="msgDetails.isInfo()"
             [class.bg-warning]="msgDetails.isWarning()"
             [class.bg-danger]="msgDetails.isError()"
             class="p-10"
             [class.visible]="shownStr == 'shown'"
             [class.hide]="shownStr == 'hidden'">

    <GridLayout width="100%" rows="auto" columns="*, auto"
            *ngIf="msgDetails.isFleeting() || msgDetails.isSticky()">
        <Label class="" [text]="msgDetails.msg" row="0" col="0" textWrap="true"
                 (tap)="msgClicked()"></Label>
        <Button class="" text="Open" row="0" col="1" *ngIf="msgDetails.hasRoute()"
               (tap)="openClicked()"></Button>
    </GridLayout>

    <GridLayout width="100%" height="100%"
                *ngIf="msgDetails.isConfirm() || msgDetails.isConfirmCancel()"
                rows="auto, *, auto" columns="*, *">


        <Label col="0" row="0" colSpan="2" textWrap="true"
               *ngIf="msgDetails.dialogTitle !=  null"
               [text]="msgDetails.dialogTitle"
               class="h1 text-center"></Label>

        <Label col="0" row="1" colSpan="2"
               [text]="msgDetails.msg" class="h3" textWrap="true"></Label>

        <button col="0" row="2"
                *ngIf="msgDetails.isConfirmCancel()"
                (tap)="cancelClicked()"
                [text]="msgDetails.cancelText">
        </button>
        <button col="1" row="2"
                (tap)="confirmClicked()"
                [text]="msgDetails.confirmText">
        </button>
    </GridLayout>

</StackLayout>